*{
    margin: 0;
    padding: 0;
}
.container{
    display: flex;
    flex-wrap: wrap;
    flex-direction:row;
    justify-content: space-between;
    width: 100%;
    box-shadow: 0px 0px 5px rgba(0,0,0,.5);
    padding: 10px;
    background-color: white;
}

h2{
    margin-top: 5px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
h2:hover{
    cursor:default;
}
.nav-toggle{
    /* display: none; */

}
span{
    color: rgb(195, 129, 9);
}
.links{
    display: flex;
    width: auto;
    justify-content: center;
    /* background-color: yellow; */
}
.links li{
    /* background-color: red; */
    margin: 10px;
    list-style:none;
    font-size: 20px;
    font-weight: bold;
    color:black
}
.links li a{
    color: black;
    text-decoration: none;
}
.links li a:hover{
    color: gray;
    text-decoration: underline;
}

.social-links{
    display: flex;
    margin-top: 10px;
    /* background-color: yellow; */
}
.social-links li{
    /* background-color: red; */
    list-style:none;
    margin: 5px; 
}

a i{
    color: black;
}

a i:hover,svg:hover{
    color: rgb(9, 127, 245);
}

@media(max-width:800px) {
    .links{
        display: none;
    }
    .social-links{
        display: none;
    }
    .nav-toggle{
        position: absolute;
        margin-left:98% ;
        margin-top: 4px;
        padding: 5px;

    }
    .container{
    display: flex;
    flex-wrap: wrap;
    flex-direction:row;
    justify-content: space-between;
    width: 100%;
    box-shadow: 0px 0px 5px rgba(0,0,0,.5);
    padding: 10px 20px;
    background-color: white;
    }
}

