html {
  font-family: sans-serif;
}

body {
  background-color: #fff;
}
.main{
  margin: 1rem;
}
.container{
  background-color: gray;
  text-align: center;
  border-radius: 10px;
  padding: 1rem;
}

label{
  font-size: 20px ;
  margin: 1rem;
}
input{
  margin: .2rem;
  height: 35px;
  background-color: #fff;
  padding: 1px 10px;
  border-radius: 8px;
  color: #212121;
  text-decoration: none;
  border: 2px solid #212121;
  font-size:20px;
  width: auto;
}

button {
  width: 150px;
  height: 35px;
  margin-top: 10px;
  background-color: #fff;
  padding: 1px 30px;
  border-radius: 8px;
  color: #212121;
  text-decoration: none;
  border: 2px solid #212121;
  font-size:20px;
}

button:hover{
  cursor: pointer;
  background: black;
  color: white;
}
