.main{
  padding: 1rem;
}
.container {
  display: flex;
  flex-direction: column;
  background-color: gray;
  text-align: center;
  border-radius: 10px;
  padding: 1rem;
  align-items: center;
  margin: 0 25%;
 
}
label{
  font-size: 20px ;
  margin: 1rem;
}
input{
  margin: .2rem;
  height: 35px;
  background-color: #fff;
  padding: 1px 10px;
  border-radius: 8px;
  color: #212121;
  text-decoration: none;
  border: 2px solid #212121;
  font-size:20px;
  width: auto;
}

button {
  width: 150px;
  height: 35px;
  margin-top: 10px;
  background-color: #fff;
  padding: 1px 30px;
  border-radius: 8px;
  color: #212121;
  text-decoration: none;
  border: 2px solid #212121;
  font-size:20px;
}

#results{
  font-size: large;
  margin: 1rem;
}

#weight-guide{
  border: 1px solid black;
  border-radius: 10px;
  min-width: 20%;
  padding: 5px;
}

@media screen and (max-width:1100px) {
  .container{
    margin: 0 15%;
  }
}
@media screen and (max-width:600px) {
  .container{
    margin: 0 10%;
  }
}
@media screen and (max-width:600px) {
  .container{
    margin: 0 0;
  }
}

